<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Mongo DB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0; background: #eee;">
    <div style="background: rgba(36, 114, 252, 0.06) !important;">
        <table style="font: Arial, sans-serif; border-collapse: collapse; width:600px; margin: 0 auto;" width="600" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width: 100%; margin: 36px 0 0;">
                        <div style="padding: 34px 44px; border-radius: 8px !important; background: #fff; border: 1px solid #dddddd5e; margin-bottom: 50px; margin-top: 50px;">
                            <div class="email-logo"></div>
                            <a href="#"></a>
                            <div class="welcome-text">
                                <h1 style="font:24px;"> Welcome <span class="welcome-hand">👋</span></h1>
                            </div>
                            <div class="welcome-paragraph">
                                <div style="padding: 20px 0px; font-size:16px; color: #384860;">Welcome to Saasot </div>
                                <div style="padding:10px 0px; font-size: 16px; color: #384860;">Below is your account detail:<br />
                                    <p> Email: {{ email }}</p>
                                    <p> Password: {{ password }}</p>
                                </div>
                                <div style="padding:10px 0px; font-size: 16px; color: #384860;">Please confirm your email<br /></div>
                                <div style="padding-top:40px; cursor: pointer !important;" class="confirm-email-button">
                                    <form method="POST" action="{{ confirmation_url }}">
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                        <button type="submit" style="height: 56px;padding: 15px 44px; background: #2472fc; border-radius: 8px;border-style: none; color: white; font-size: 16px; cursor: pointer !important;">Confirm Email</button>
                                    </form>
                                </div>
                                <div style="padding: 20px 0px; font-size: 16px; color: #384860;"> Sincerely, <br />The Saasot Team </div>
                            </div>
                            <div style="padding: 50px 0px;" class="email-bottom-para">
                                <div style="padding: 20px 0px; font-size:16px; color: #384860;">This email was sent by Saasot . If you'd rather not receive this kind of email, Don’t want any more emails from Saasot? <a href="#">
                                    <span style="text-decoration:underline;"></span>
                                    </a>
                                </div>
                                <div style="font-size: 16px;color: #384860;"> © 2023 Saasot</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>